---
layout: default
title: Home
---
{% for festival in site.data.festivals %}
  {% if festival.show %}
    <center>
      <div class="post">
        {% if festival.url %}
          <a href="{{ festival.url }}">
            <img src="{{ festival.image }}" class="img" alt="Swaathi Kakarla - {{ festival.greeting }}" />
          </a>
        {% else %}
          <img src="{{ festival.image }}" class="img" alt="Swaathi Kakarla - {{ festival.greeting }}" />
        {% endif %}
        <p class="lead">
          {{ festival.greeting }}
        </p>
      </div>
    </center>
  {% endif %}
{% endfor %}

<div class="posts">
  {% for post in paginator.posts %}
    <div class="post">
      <h1 class="post-title">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>

      <span class="post-date">{{ post.date | date_to_string }}</span>
      {{ post.content | split:'<!--break-->' | first }}
      <a href="{{ post.url }}">Read All {{ post.content | number_of_words }} Characters → </a>
    </div>
  {% endfor %}
</div>

<div class="pagination">
  <center>
    <img src="/public/smile.png" class="img" alt="smile" />
  </center>
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
