<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <center>
        <a href="/">
          <img src="https://swaathi.com/public/white.png" class="img-responsive" alt="Swaathi Kakarla - Logo" />
        </a>
      </center>
      <p class="lead">
        <a href="/">Swaathi Kakarla</a>
      </p>
      <p class="lead">
        Empathetic <a href="/about">human being</a> who loves to
        <a href="{{ site.github.repo }}" target="_blank">code</a>,
        <a href="{{ site.skcript.blog }}">read</a>, and
        <a href="{{ site.author.twitter }}">wonder</a> about the universe.
      </p>
    </div>

    <nav class="sidebar-nav">
      <hr />
      <a class="sidebar-nav-item" href="/about/">About Me</a>
      <a class="sidebar-nav-item" href="/talks/">My Talks</a>
      <a class="sidebar-nav-item" href="/opensource/">Opensource</a>
      <span class="sidebar-nav-item">
        CTO,&nbsp;<a href="{{ site.skcript.main }}" target="_blank">Skcript</a>
      </span>
    </nav>
    <p>
      Happy {{ site.time | date: "%A"}}!
    </p>
  </div>
</div>
