---
layout: default
title: Talks
---

<div class="posts">
  {% for talk in site.data.talks %}
    <div class="post">
      <h1 class="post-title">
        <a href="/talks/{{ talk.path }}" target="_blank" rel="noopener">
          {{ talk.name }}
        </a>
      </h1>

      <span class="post-date">
        {{ talk.date | date_to_string }} /
        {% if talk.event.offline %}
          <span>{{ talk.event.name }} (offline)</span>
        {% else %}
          <a href="{{ talk.event.link }}">{{ talk.event.name }}</a>
        {% endif %}
      </span>
      <p>
        {{ talk.description }}
      </p>
      <div class="pagination">
        <a class="pagination-item older" href="/talks/{{ talk.path }}">Download</a>
        {% if talk.link != "" %}
          <a class="pagination-item newer" href="{{ talk.link }}" target="_blank" rel="noopener">View</a>
        {% else %}
          <span class="pagination-item newer">View</span>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

<center>
  <img src="/public/smile.png" class="img" alt="smile" />
</center>
