<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@imswaathik" />
  <meta name="twitter:title" content="{{ site.title }}" />
  <meta name="twitter:description" content="{{ site.tagline }}" />
  <meta name="twitter:image" content="{{ site.url }}/public/black.png" />
  <meta name="twitter:image:alt" content="{{ site.title }}" />

  <meta property="og:title" content="{{ site.title }}" />
  <meta name="og:description" content="{{ site.tagline }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:image" content="{{ site.url }}/public/black.png" />
s
  <body>
    {% include sidebar.html %}
    <div class="content container">
      {{ content }}
    </div>
    <script type="text/javascript">"serviceWorker"in navigator&&window.addEventListener("load",function(){navigator.serviceWorker.register("/public/sw.js").then(function(n){},function(n){console.log("f",n)})});</script>
    <script>
      var host = "swaathi.com";
      if (window.location.host == host && window.location.protocol != "https:") {
        window.location.protocol = "https:"
      }
    </script>
  </body>
</html>
