<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@imswaathik" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.tagline }}" />
  <meta name="twitter:image" content="{{ site.url }}/public/black.png" />
  <meta name="twitter:image:alt" content="{{ page.title }}" />

  <body>

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
