---
layout: default
---
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@imswaathik" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.content | markdownify | strip_html | truncatewords: 50 }}" />
<meta name="twitter:image" content="{{ site.url }}/public/black.png" />
<meta name="twitter:image:alt" content="{{ page.title }}" />

<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image" content="{{ site.url }}/public/black.png" />

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<center>
  <img src="/public/smile.png" class="img" alt="smile" />
</center>

<div class="related">
  <h2>Older Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
